@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #12071f, #2f204e);
    color: white;
    font-family: "Montserrat", serif;
}

a {
    text-decoration: none;
    color: white;
}