@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #12071f, #2f204e);
    color: white;
    font-family: "Montserrat", serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1536px;
    padding: 0 16px 0;
    margin: auto;
    background-color: pink;
}

section {
    height: 100vh;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}